@import "base";
@import "reset";
//@import "grids";
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
body {
    background-image: url('https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98bfb6da87072431cb1d54750bf2e638&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

// drum kits
.key-container{
    display: flex;
    height: 100vh;
    margin:auto;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;


    > div {
        width:100px;
        height:100px;
    	border-radius: 50%;
        //border:2px solid #000;
        margin: 10px auto;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 15px;
        color: #cb286c;



        > span{

            display:table-cell;
        	vertical-align:middle;
        	height:100px;
        	width:100px;
        	text-align:center;
        	//padding: 0 15px;

            > kbd{
                display: block;
                font-size: 30px;
                color:#313131;
            }
        }

    }
}

//when key down
.key-container > div{
    transition: all .08s;
}
.active{
    border-color: #fc0;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #fc0;

}

// clock-face
.clock-face{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: #fff;
    border: 3px solid rgb(228, 214, 19);
    //opacity: 0.5;
    transform: translate(-50%, -50%);

    &::after{
        content: "";
        position:absolute;
        left: 50%;
        top:50%;
        background-color: #000;
        width: 18px;
        height:18px;
        margin:-10px 0 0 -5px;
        border-radius: 18px;
        z-index: 99;

    }

    .hand{
        position: absolute;
        left: 50%;
        top: 0;
        width: 4px;
        transform-origin: 100% 100%;
        //transition: all .05s;
        //transform: rotate(0deg);
        //transition-timing-function: ease-in-out;

    }
    .hand.hour{
        top: 20%;
        height:30%;
        background: #000;
        z-index: 7;
    }
    .hand.minute{
        top:10%;
        height:40%;
        background: #68e308;
        z-index: 8;
    }
    .hand.second{

        width: 2px;
        height:50%;
        background: #e30808;
        z-index: 9;
    }

}

//Playing with CSS Variables and JS
:root{
    --spacing: 20px;
    --blur: 10px;
    --color: #400791;

}


.range{
    //@include toBeCenter;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color:rgb(255, 255, 255);
    h1{
        font-size:3rem;
        margin-bottom: 10px;

        span.h1{
            color: var(--color);
        }
    }
    .box{
        margin:30px;

        img{
            padding: var(--spacing);
            background-color: var(--color);
            filter: blur(var(--blur));
        }

    }
}
